# Copy separately to seller.env and buyer.env. Use DIFFERENT keys/wallets.
# PREPROD ONLY. Do not add any MAINNET variables.
ENCRYPTION_KEY=
ADMIN_KEY=
BLOCKFROST_API_KEY_PREPROD=
PURCHASE_WALLET_PREPROD_MNEMONIC=
SELLING_WALLET_PREPROD_MNEMONIC=
COLLECTION_WALLET_PREPROD_ADDRESS=
PORT=3001
SEED_ONLY_IF_EMPTY=True
AUTO_WITHDRAW_PAYMENTS=true
AUTO_WITHDRAW_REFUNDS=true
BLOCK_CONFIRMATIONS_THRESHOLD=20
BATCH_PAYMENT_INTERVAL=240
CHECK_COLLECTION_INTERVAL=300
CHECK_TX_INTERVAL=180
CHECK_COLLECT_REFUND_INTERVAL=300
CHECK_SET_REFUND_INTERVAL=300
CHECK_UNSET_REFUND_INTERVAL=300
CHECK_AUTHORIZE_REFUND_INTERVAL=300
CHECK_SUBMIT_RESULT_INTERVAL=300
CHECK_WALLET_TRANSACTION_HASH_INTERVAL=60
REGISTER_AGENT_INTERVAL=300
DEREGISTER_AGENT_INTERVAL=300
AUTO_DECISION_INTERVAL=30
